.app__review {
    width: 500px;
    height: auto;
    background: var(--color-crimson);
    padding: 20px;
    margin: 0 5px;
    border-radius: 5px;
    // position: relative;
    .app__review-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .app__review-info_profile {
            display: flex;
            align-items: center;
            font-family: var(--font-alt);
            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 10px;
            }
            h3 {
                text-transform: capitalize;
            }
            p {
                font-size: 12px;
                margin-top: 5px;
            }
        }
    }
    .app__review-reviewText {
        margin-top: 20px;
        text-align: justify;
        p {
            font-size: 16px;
            font-family: var(--font-base);
            line-height: 1.3rem;
            font-weight: 500;
        }
    }
    .app__review-btn_container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        button {
            color: var(--color-golden);
            font-size: 1.25rem;
            background: transparent;
            border-color: transparent;
            margin: 0 0.5rem;
            transition: all 0.3s linear;
            cursor: pointer;
        }
        button:hover {
            color: var(--color-orange);
        }
    }
}

@media screen and (max-width: 650px) {
    .app__review {
        width: 300px;
        height: auto;
        background: var(--color-crimson);
        padding: 20px;
        margin: 0 5px;
        border-radius: 5px;
        // position: relative;
        .app__review-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .app__review-info_profile {
                display: flex;
                align-items: center;
                font-family: var(--font-alt);
                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                h3 {
                    text-transform: capitalize;
                    font-size: 14px;
                }
                p {
                    font-size: 10px;
                    margin-top: 5px;
                }
            }
        }
        .app__review-reviewText {
            margin-top: 20px;
            text-align: justify;
            p {
                font-size: 12px;
                font-family: var(--font-base);
                line-height: 1.1rem;
                font-weight: 500;
            }
        }
        .app__review-btn_container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            button {
                color: var(--color-golden);
                font-size: 1.25rem;
                background: transparent;
                border-color: transparent;
                margin: 0 0.5rem;
                transition: all 0.3s linear;
                cursor: pointer;
            }
            button:hover {
                color: var(--color-orange);
            }
        }
    }
}
